.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-right: 40px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #333;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.actionButton {
  color: gray;
  margin-left: 20px;

  &:hover {
    color: #202020;
    cursor: pointer;
  }
}
